*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

html ::-webkit-scrollbar{
    width: 1rem;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: #d2baa0;
    border-radius: 2rem;
}

.background{
    background-image: url(assets/velaa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-top: 1-5crem;
    background: #d2baa0;
}

.logo img{
    margin-left: 5rem;
}

ul{
list-style: none;
display: flex;

gap: 3rem;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-family: 'Jost' sans-serif;
}

.C-icone{
    margin-right: 5rem;
}

.Icone{
    color:black;
    font-size: 2rem;
    cursor: pointer;
}

ul li a:hover{
text-transform: capitalize;
color: white;
border-bottom: solid 1px;
}

hr{
    border-bottom: solid 0.1px;
    color: black;
    margin-top: 15pix;
}

.C-title{
    margin-left: 5rem;
    margin-top: 10rem;
}

.C-title h1{
    font-size: 3.5rem;
    font-family: 'Jost' sans-serif;
}

.C-title p{
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
}

 button{
    margin-top: 2rem;
    background-color: #d2baa0;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    width: 141px;
height: 53px;
flex-shrink: 0;
    border-radius: 25px;
border-color: black;
}

.C-title button:hover{
    letter-spacing: 2px;
    transition: 0.3s all;
}

.section-1 h1{
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'Jost' sans-serif;
    margin-top: 1rem;
}

.section-1 span{
    color: #d2baa0;
}

.Sobre-nós{
    display: flex;
    align-items: center;
    background: #d2baa0;
    max-width: 100%;
    width: 100%;
    margin-top: 2rem;
}

.Sobre-title{
    margin-left: 1.3rem;
}

.Sobre-title h2{
    font-size: 2rem;
    font-family: 'Jost' sans-serif;
}

.Sobre-title p{
    line-height: 2rem;
    padding-top: 1rem;
    font-size: 1rem;
    width: 45rem;
}

.Sobre-title button{
    margin-top: 2rem;
    background-color: #d2baa0;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    width: 170px;
height: 53px;
flex-shrink: 0;
    border-radius: 25px;
border-color: black;
}

.Sobre-title button:hover{
    letter-spacing: 2px;
    transition: 0,3s;
}

.section-2 h1{
    text-align: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Jost' sans-serif;
    margin-top: 1rem;
}

.section-2 span{
    color: #d2baa0;
}

.Container-card-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: #d2baa0;
}

.card-img{
    border: solid 1px white;
    padding: 5rem;
    align-items: center;
    text-align: center;
    max-width: 100%;
}



.card-img h3{
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
}

.card-img p {
    color: black;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.card-img button{
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
}

.card-img:hover{
    transform: scale(1.1);
    transition: 0.5s all;
    background-color: white;
}

#Container-card-2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: #d2baa0;
}